.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #000;
  background-color: #f8f4f4;
  border: 1px solid #c6c6ca;
  border-radius: 0.5rem;
  outline: none;

  &:focus,
  &:hover {
    border-color: #646cff;
  }
}
