.product {
  display: flex;
  gap: 2rem;
}

.img {
  width: 600px;
  height: 600px;
  flex-shrink: 0;
  object-fit: contain;
}

.info {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 1.5rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 1rem;

  & svg {
    width: 2rem;
    height: 2rem;
    color: #fdf05d;
  }
}

.price {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.discount {
  margin-left: 2rem;
  padding: 0.25rem;
  font-size: 1rem;
  color: #ff0000;
  background-color: #ffc5c5;
  border: 1px solid #fa4646;
  border-radius: 0.5rem;
}

.field {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
.tag {
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #949494;
}
