.filter {
  margin-bottom: 2rem;
  padding: 0.25rem;
  color: #000;
  border-radius: 0.5rem;
  background-color: #f8f4f4;
  outline: none;
  transition: border-color 0.25s, color 0.25s;

  &:focus,
  &:hover {
    color: #646cff;
    border-color: #646cff;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
